<div class="h-screen w-screen p-2 flex justify-center items-center" >
    <div class=" h-full w-full container">
        <!-- HEADER -->
        <app-header (open)="openModal()"></app-header>

        <div class="h-[85%] w-full overflow-y-auto px-8 scroll-none mt-4 mb-10 ">
            <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 xs:grid-cols-1 gap-7 ">
                @for (paragraph of paragraphs; track $index) {
                <div class=" p-4 rounded-lg py-4 overflow-hidden ">
                    <span class="text-warning font-semibold text-xl capitalize ">{{paragraph.title}}</span>
                    <div class="overflow-hidden text-left">
                        <p class="text-base {{ paragraph.content.length > 150 ? ' line-clamp-4' : 'h-fit' }}">
                            {{ paragraph.content }}
                        </p>
                    </div>
                    <small class="text-warning py-4 text-xs">{{paragraph.date}}</small>
                </div>

                }
                <p class="border-2 border-error/20 p-4 rounded-lg {{paragraphs.length > 150 ? ' line-clamp-4' : 'h-fit' }}">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>

            </div>
        </div>
    </div>

    @if (showModal) {
    <div [@modalAnimation]>
        <ng-template #modalContent>
            <!-- Your form or any other content goes here -->
            <form>
                <h1>DUDUDUDU</h1>
            </form>
        </ng-template>
        <app-modal [modalContent]="modalContent" (closeModal)="openModal()"></app-modal>
    </div>
    }
</div>